div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding :25px;
    display: inline;
}

#box1
{
    background-color: rgba(0,0,255,1);
}

#box2{
   /* display: none; */
   visibility:hidden;

}

#box3{
    display:  inline-block;
    background-color:rgba(0,0,255,0.75);

}

#box4{
background-color:rgba(0,0,255,0.5)
}