body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
@media (min-width:300px) and (max-width:400){
    div{
        background-color: red;
    }
}

@media (min-width:400px) and (max-width:600px){
    div{
        background-color: blue;
    }
}

@media (min-width:600px) {
    div{
        background-color: blueviolet;
    }
}



#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
    flex-grow: 1;
}

#box3{
    background-color: darkmagenta;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
    align-self: flex-end;
}
